body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  nav {
    background-color: #222;
    padding: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: orange;
  }
  
  header {
    padding: 60px;
  }